<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<div id="myDiv" style="width: 480px; height: 300px;"><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
    {% for i in range(names|length)%}
        var l{{ i }} = {
            x: {{ vectors_x[i]|safe }},
            y: {{ vectors_y[i]|safe }},
            mode: 'markers',
            type: 'scatter',
            name: '{{ names[i]|safe }}',
            text:{{ labels[i]|safe }}
        };
    {% endfor %}
    var data = {{ data }};

    var layout = {
        xaxis: {
            range: [0.75, 5.25]
        },
        yaxis: {
            range: [0, 8]
        },
        title: 'Data Labels Hover'
    };

    Plotly.newPlot('myDiv', data, layout);
</script>
</body>